<div class= "container">
  <div class= "row">
    <div class= "col-12 border-bottom">
      <h2 class= "pt-4 text-secondary text-center font-weight-bold">All Users</h2>
    </div>
    <%= render 'users/users', users: @users %>
  </div>
</div>