<div class= "container">
  <div class= "row">
    <div class= "col-lg-7">
      <h2 class= "mt-4 mb-4">Learn languages you are interested in,<br>and meet your life-changing story.</h2>
      <div class= "ml-3">
        <h4 class= "font-weight-bold pt-4">Share your Favortite contents</h4>
        <p class= "mt-1">You can share your favroite contents<br>with other people who study language.</p>
        <h4 class= "font-weight-bold pt-4">Like your favorite contents,<br>and follow others</h4>
        <p class= "mt-1">Don’t forget to like  the shared contents you are<br>interested in.<br>Follow users who share good contents.</p>
        <h4 class= "font-weight-bold pt-4">Review other’s sharing contents</h4>
        <p class= "mt-1">Reviewing sharing contents gives others more<br>accurate and precise information.</p>
      </div>
    </div>
    <div class= "col-5 mt-4 mb-4">
      <%= image_tag 'about_image.jpg', class: "img-fluid shadow", alt: "picture" %>
    </div>
  </div>
</div>