<h1>Learn languages you are interested in, <br>
and meet your life-changing story.</h1>

<h4>Share your Favortite contents</h4>
<p>You can share your favroite contents<br>
with other people who study language.</p>

<h4>Like your favorite contents, and<br>
follow others</h4>
<p>Don’t forget to like  the shared contents you are<br>
interested in.<br>
Follow users who share good contents.</p>

<h4>Review other’s sharing contents</h4>
<p>Reviewing sharing contents gives others more<br>
accurate and precise information.</p>