<div class= "container">
  <div class= "row">
    <div class= "col-lg-7">
      <img src= "/assets/homepage.jpeg" class= "img-fluid" alt="" >
    </div>
    <div class="col-lg-5">
      <h1>Learn Language<br>
      Through Sharing<br>
      Your Favorite<br>
      Contents</h1>
        <button type="button" class="btn btn-primary">Join Now!</button>
          <p class="small">If you already have an account, click here to login.</p>
    </div>
  </div>
</div>