<div class= "container">
  <div class= "row">
    <div class= "col-12">
      <h2 class= "pt-4 text-secondary text-center font-weight-bold">All Contents</h2>
      <h4 class= "text-center">Genres</h4>
      <div class= "row d-flex justify-content-around border-bottom">
        <p>Movie</p>
        <p>Books</p>
        <p>Games</p>
        <p>Drama</p>
        <p>Music</p>
      </div>
    </div>
  </div>
  <%= render 'posts/posts', posts: @posts %>
</div>